# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
*.egg-info/

# IDE / editors
.vscode/
.idea/

# Environment / secrets
auth.env
creds.db
*.env

# Databases
*.db
database/*
!database/wwdb.py

# Poetry lock files (если не нужен)
poetry.lock

# System
.DS_Store
Thumbs.db

# Ignore everything in api_example except needed files
api_example/*
!api_example/README.md
!api_example/api_reader.py
!api_example/kanye_quotes.csv

# Ignore everything in parser_example except needed files
parser_example/*
!parser_example/README.md
!parser_example/parser.py

# Ignore everything in trying_de except pyproject.toml
trying_de/*
!trying_de/pyproject.toml
!data_loader.py
!trying_de/poetry.lock
!README.md

# Keep notebooks fully
!notebooks/
