# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
*.egg-info/

# IDE / editors
.vscode/
.idea/

# Environment / secrets
auth.env
creds.db
*.env

# Databases
*.db
experiments/database/*
!experiments/database/wwdb.py

# Poetry lock files (если не нужен)
poetry.lock

# System
.DS_Store
Thumbs.db

# Ignore everything in api_example except needed files
experiments/api_example/*
!experiments/api_example/README.md
!experiments/api_example/api_reader.py
!experiments/api_example/kanye_quotes.csv

# Ignore everything in parser_example except needed files
experiments/parser_example/*
!experiments/parser_example/README.md
!experiments/parser_example/parser.py

# Ignore everything in trying_de except pyproject.toml
experiments/trying_de/*
!experiments/trying_de/pyproject.toml
!experiments/data_loader.py
!experiments/trying_de/poetry.lock
!experiments/README.md

# Keep notebooks fully
!experiments/notebooks/
